<a href="https://colab.research.google.com/github/pabbico/GOOGLE_NOTEBOOK/blob/main/first_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is my first notebook.

In [ ]:
print("Hello, world!")

Hello, world!

In [ ]:
#this will be comment

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame ({
    "name": ["Alice", "Bob", "Carol"],
    "age": [20, 25, 30]
})

In [ ]:
print(df)

    name  age
0  Alice   20
1    Bob   25
2  Carol   30